/* css variables for color scheme */
:root {
    --primary-color: #395B64;
    --secondary-color: #eaeef0;
    --tertiary-color: #548CA8;
    --quaternary-color: #2C3333;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--secondary-color);
}

.card {
    background-color: white
}

.navbar-expand-lg {
    background-color: var(--primary-color);
}

.navbar-expand-lg a {
    color: var(--secondary-color);
    font-size: x-large;
}

#projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 20px;
}

.project {
    text-align: center;
    width: 25rem;
}

.project img {
    width: 100%;
    transition: opacity 0.5s ease-in-out;
    opacity: 1
}

.project img:hover {
    opacity: 0.5;
}

.form-check {
    margin-right: 10px;
}

#contact {
    width: 35%;
    margin: 1rem auto;
    padding: 1rem;
}

#contact h2 {
    text-align: center;
}

.form-input {
    margin: 0.5rem 0;
    padding: 0.5rem;
}

#contact-form {
    display: flex;
    flex-direction: column;
    align-items: left;

}

#form-message {
    resize: none;
    min-height: 8rem;
}


@media only screen and (max-width: 600px) {
    #projects {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .project {
        width: 300px;
    }
    
}